.gridtotal{
    display: block;
    font-size: 0.85em;
}

/* .gridtotal td, th{
    border: 1px solid gray;
    padding: 3px;
    text-align: center;
    background-color:  white;
 }

 .gridtotal th{
    background-color: gainsboro;
 } */