ul {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  /* border-radius: 5px; */
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: lightgray;
  /* font-weight: 600; */
}

ul.topnav li a.active {
  background-color: #4f8edc;
  color: whitesmoke;
  font-weight: 600;
}

ul.topnav li.right {
  float: right;
  min-width: 140px;
}

.title {
  color: gray;
  padding: 11px 0 0 11px;
  font-weight: bold;
  cursor: pointer;
}

.title > div {
  display: inline-block;
}

.title > div:first-child:hover {
  color: #4f8edc;
}

.body {
  margin-top: 45px;
  padding: 5px 10px;
  overflow: auto;
  height: calc(100vh - 55px);
}

.icons {
  vertical-align: bottom;
  margin: 0;
  padding: 0 5px;
}

.commands {
  /* display: inline-block; */
  margin-left: 1em;
}

