.report {
    background-color: white;
    padding: 10px;
    border: lightgray 1px solid;
    border-radius: 5px;
 
}

.report .item {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0;
}

/* .report table {
    width: 100%;
    border-collapse: collapse;
} 

.report table td,
.report table th {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}

.report table th {
    background-color: lightgray;
    font-size: 0.8em;
    text-transform: uppercase;
} */

.report h3 {
    text-transform: uppercase;
    color: #4f8edc;
    font-size: 10pt;
    text-align: center;
}

.report h4 {
    text-transform: uppercase;
    color: dimgray;
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 6px;
    /* text-align: center; */
}

.report h3::before,
.report h3::after{
  content: " — ";
}

.report > section > div{
    margin-bottom: 1.5em;
    text-align: center;
}