.toolbar{
    display: block;  
  }
  
  .toolbar button {
    outline: none;
    background-color: transparent;
    color: #343434;
  }
  
 
   .info{
    font-size: 0.9em;
   }

   .info label{
    color: gray;
   }