.app {
  /* background-color: yellow; */
  /* padding: 10px; */
  margin: 0;

  color: #111;
  overflow: hidden;
}

.body {
  margin-top: 55px;
  padding: 5px 10px;
  overflow: auto;
  height: calc(100vh - 60px);
}


.toast {
  font-size: 10pt !important;
  min-height: 36px !important;
  /* opacity: 0.85; */
  /* background-color: gray !important; */
   /* width: 150px !important;  */
}

