.page {
  display: flex;
  /* margin-bottom: 20px; */
  /* height: calc(100%  ); */
  justify-content: center;
  align-items: center;
}

.page.fullHeight {
  height: 100%;
}

.page.center {
  height: 100%;
}

.page a {
  text-decoration: none;
}

.page a:hover {
  color: #4f8edc;
}

.page .grid {
  display: block;
  font-size: 0.85em;
}

.page .data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.page .data .measuresMenu {
  padding: 10px;
}

.page .data .measuresData {
  padding: 10px;
}

.page .data .sticky {
  position: sticky;
  top: 10px;
}

.page .data h4 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #d2d3d6;
}

.page .data h4 .titleMeasure {
  color: #4f8edc;
}
 
.page .data .deskriptiva{
  margin-top: 40px;
}