.page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.page.fullHeight {
  height: 100%;
}

.page a {
  text-decoration: none;
}

.page a:hover {
  color: #4f8edc
}


.page .reports {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-bottom: 15px; */
  /* overflow-y: hidden; */

}

.page .reports .reportsMenu {
 
}

.page .reports .reportsData {
  padding: 10px;
  margin-left: 1em;
  width: 100%;
}

.page .reports .sticky {
  position: sticky;
  top: 0;
}