.functions {
  user-select: none;
  width: 380px;
  height: calc(100vh - 130px);
  overflow-y: auto;
  /* margin-bottom: 40px; */
}

.search {
  padding: 20px 0;
}

.search input {
  padding: 8px;
  border: silver 1px solid;
  border-radius: 4px;
  width: calc(100% - 18px);
}
