.functionItem {
  padding: 6px 12px;
  margin-bottom: 5px;
  border: 1px solid #d2d3d6;
  border-radius: 4px;
  background-color: #edeef0;
  width: auto;
  cursor: pointer;
  font-size: 0.9em;
}

.functionItem:hover {
  background-color: lightgray;
}

.functionItem.expanded {
  background-color: lightgray;
  border: 1px solid gray;
}

.icons {
  vertical-align: middle;
}

.functionItem ul {
  position: relative;
  border: none;
}

.functionItem .title {
  display: inline-block;
  width: calc(100% - 75px);
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  cursor: pointer;
}

.functionItem .description {
  /* display: inline-block; */
  /* width: calc(100% - 75px); */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  font-size: 0.9em;
}

.functionItem .arrowRight {
  float: right;
  color: gray;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 3px 0;
  /* padding-top: 4px; */
  margin: 0;
  /* height: 18px; */
}

.functionItem:hover .arrowRight {
  color: #4f8edc;
}

.functionItem.selected {
  color: whitesmoke;
  background-color: #4f8edc;
}

.functionItem.selected .arrowRight {
  color: whitesmoke;
}

.functionItem.selected .done {
  color: whitesmoke;
}

.functionItem .checkbox {
  /* margin: 5px; */
  margin-right: 12px;
  padding-left: 0px !important;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.functionItem .parameters {
}

.functionItem .parameters h4 {
  margin-bottom: 6px;
}


