.parameter label {
  display: inline-block;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden ;
  vertical-align: middle;
}

.parameter select {
  padding: 3px;
  border: 1px solid silver;
  border-radius: 4px;
}
